Cliente_XML/producto.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="productos">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="producto" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="clave" type="xs:string"/>
              <xs:element name="nombre" type="xs:string"/>
              <xs:element name="precio" type="xs:double"/>
              <xs:element name="cantidad" type="xs:int"/>
              <xs:element name="marca" type="xs:string"/>
              <xs:element name="fechaReg" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>